.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.outer-container {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
}

.selector .Select-control {
    width: 250px;
    text-align: center;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
    text-align: center;
}

.multi-select {
    align-self: center;
    width: 500px;
    margin-bottom: 25px;
}


@media screen and (max-width: 600px) {
    .outer-container {
        margin-right: auto;
        margin-left: auto;
        padding: 0px;
    }

    .container {
        flex-direction: column;
    }

    .selector {
        align-self: center;
    }

    .multi-select {
        width:300px;
    }
}

@media screen and (max-width: 768px) {
    .multi-select {
        padding-left: 0px;
        padding-right: 0px;
    }
}